.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  .background {
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    z-index: -10;
    background-image: url(../BackgroundImage/markus-spiske-pZX9QPxeIQc-unsplash.jpg);
    filter: blur(1vh);
  }

  .game {
    transition: 1.5s;
    box-sizing: border-box;
    padding-bottom: 100vh;
  }

  .g-out {
    transform: perspective(1000px) rotateX(90deg);
  }

  .g-in {
    transform: rotateX(0);
  }
}
