body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: EduVIC;
  src: url(../Font/Edu_VIC_WA_NT_Beginner/EduVICWANTBeginner-VariableFont_wght.ttf);
}

* {
  font-family: "EduVIC", cursive;
  box-sizing: border-box;
}
