main {
  display: flex;
  flex-wrap: wrap;
  padding: 1% 2%;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 100vh;
  gap: 0;
}

@media screen and (min-width: 600px) {
  main {
    padding: 2% 4%;
  }
}
@media screen and (min-width: 1000px) {
  main {
    padding: 2% 4%;
  }
}
@media screen and (min-width: 1300px) {
  main {
    padding: 3% 6%;
  }
}
