.in {
  transform: rotateX(0deg);
}

.out {
  transform: perspective(1000px) rotateX(-90deg);
}

.page {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200vh;
  transition: 1.5s;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 100vh;

  button{
    cursor: pointer;
  }
}
